.container, .container--flex, .row {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.container--flex, .row {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: flex-start;
  padding: 0 1rem;
}

.lrg, .med, .sml, .x-sml {
  padding: 0 1rem;
}

.col-4 {
  flex: 0 0 100%;
}

.col-2 {
  flex: 0 0 50%;
}

.offset {
  margin-left: 50%;
}

.lrg--col-12 {
  padding: 0 1rem;
  flex: 0 0 100%;
}

.lrg--col-11 {
  padding: 0 1rem;
  flex: 0 0 91.667%;
}

.lrg--col-10 {
  padding: 0 1rem;
  flex: 0 0 83.333%;
}

.lrg--col-9 {
  padding: 0 1rem;
  flex: 0 0 75%;
}

.lrg--col-8 {
  padding: 0 1rem;
  flex: 0 0 66.667%;
}

.lrg--col-7 {
  padding: 0 1rem;
  flex: 0 0 58.333%;
}

.lrg--col-6 {
  padding: 0 1rem;
  flex: 0 0 50%;
}

.lrg--col-5 {
  padding: 0 1rem;
  flex: 0 0 41.667%;
}

.lrg--col-4 {
  padding: 0 1rem;
  flex: 0 0 33.333%;
}

.lrg--col-3 {
  padding: 0 1rem;
  flex: 0 0 25%;
}

.lrg--col-2 {
  padding: 0 1rem;
  flex: 0 0 16.667%;
}

.lrg--col-1 {
  padding: 0 1rem;
  flex: 0 0 8.333%;
}

.lrg--offset-12 {
  padding: 0 1rem;
  margin-left: 100%;
}

.lrg--offset-11 {
  padding: 0 1rem;
  margin-left: 91.667%;
}

.lrg--offset-10 {
  padding: 0 1rem;
  margin-left: 83.333%;
}

.lrg--offset-9 {
  padding: 0 1rem;
  margin-left: 75%;
}

.lrg--offset-8 {
  padding: 0 1rem;
  margin-left: 66.667%;
}

.lrg--offset-7 {
  padding: 0 1rem;
  margin-left: 58.333%;
}

.lrg--offset-6 {
  padding: 0 1rem;
  margin-left: 50%;
}

.lrg--offset-5 {
  padding: 0 1rem;
  margin-left: 41.667%;
}

.lrg--offset-4 {
  padding: 0 1rem;
  margin-left: 33.333%;
}

.lrg--offset-3 {
  padding: 0 1rem;
  margin-left: 25%;
}

.lrg--offset-2 {
  padding: 0 1rem;
  margin-left: 16.667%;
}

.lrg--offset-1 {
  padding: 0 1rem;
  margin-left: 8.333%;
}

.med--col-8, .sml--col-8 {
  padding: 0 1rem;
  flex: 0 0 100%;
}

.med--col-7, .sml--col-7 {
  padding: 0 1rem;
  flex: 0 0 87.50%;
}

.med--col-6, .sml--col-6 {
  padding: 0 1rem;
  flex: 0 0 75%;
}

.med--col-5, .sml--col-5 {
  padding: 0 1rem;
  flex: 0 0 62.5%;
}

.med--col-4, .sml--col-4 {
  padding: 0 1rem;
  flex: 0 0 50%;
}

.med--col-3, .sml--col-3 {
  padding: 0 1rem;
  flex: 0 0 37.5%;
}

.med--col-2, .sml--col-2 {
  padding: 0 1rem;
  flex: 0 0 25%;
}

.med--col-1, .sml--col-1 {
  padding: 0 1rem;
  flex: 0 0 12.5%;
}

.med--offset-8, .sml--offset-8 {
  padding: 0 1rem;
  margin-left: 100%;
}

.med--offset-7, .sml--offset-7 {
  padding: 0 1rem;
  margin-left: 87.50%;
}

.med--offset-6, .sml--offset-6 {
  padding: 0 1rem;
  margin-left: 75%;
}

.med--offset-5, .sml--offset-5 {
  padding: 0 1rem;
  margin-left: 62.5%;
}

.med--offset-4, .sml--offset-4 {
  padding: 0 1rem;
  margin-left: 50%;
}

.med--offset-3, .sml--offset-3 {
  padding: 0 1rem;
  margin-left: 37.5%;
}

.med--offset-2, .sml--offset-2 {
  padding: 0 1rem;
  margin-left: 25%;
}

.med--offset-1, .sml--offset-1 {
  padding: 0 1rem;
  margin-left: 12.5%;
}
