body {
	width: 80%;
	background-color: #f4f4f4;
    margin-top: 20px;
    margin-left: 50px;
	font-family: sans-serif;

}

img {

	display: block;
    margin-left: auto;
    margin-right: auto;
	border: solid;
	border-color: #808080;
	max-height: 670px; 
	max-width: 980;



}

.pratt {
	width: 94%;
	height: 20%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}


 h1, h2, h3, h4, h5, p {
	color: #14393d;
}

h3 {
	background: url(../../gold_project/img/pratt.jpg) no-repeat;
    text-indent: -9999px;
    width: 900px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}

p {
	font-size: 16px;
    line-height: 21px;
    margin-bottom: 50px;

}

a {
	color: #276056;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: black;
}

